<div *ngIf="loaded; else elseBlock" style="text-align:center">
  <h1>Let's talk about weather</h1>
  <h2>{{ data?.location.city }} {{ data?.location.region }} {{ data?.location.country }}</h2>
  <div>
    <h2>{{ data?.condition.temp }}&deg;C</h2>
    <p>{{ data?.condition.text }}</p>
  </div>
  <div>
    <h2>Wind</h2>
    <p>{{ data.wind.speed}}{{ data.units.speed }}</p>
  </div>
  <div>
    <h2>Sunrise and Sunset</h2>
    <p>{{ data.astronomy.sunrise }} {{ data.astronomy.sunset }}</p>
  </div>
  <div>
    <h2>Humidity</h2>
    <p>{{ data.atmosphere.humidity }}%</p>
  </div>
  <div>
    <h2>Visibility</h2>
    <p>{{ data.atmosphere.visibility }}{{ data.units.distance }}</p>
  </div>
  <div>
    <div *ngFor="let item of data.forecast" style="display: inline-block;">
      <p>{{ item.day }} {{ item.date }}</p>
      <p>{{ item.high }}&deg;C</p>
      <p>{{ item.text }}</p>
      <p>{{ item.low }}&deg;C</p>
    </div>
  </div>
  <div>
    <a href="https://www.yahoo.com/?ilc=401" target="_blank"> <img src="https://poweredby.yahoo.com/purple.png" width="134" height="29"/> </a>
  </div>
</div>

<ng-template #elseBlock>Loading</ng-template>
